
body {
    background: url(../images/grassbackground3.jpg);
    background-size: cover;
    background-position: center;
    min-height: 1000px;
}

a, 
li {
    color: black;
}

#brand {
  font-size: 2.8rem;
}

header {
    margin-bottom: 4vw;
}


#container1,
#container2,
#container3 {
    width: 85%;
}

h6 {
    padding-left: 1.6vw;
    padding-top: .8vw;
    font-size: 1.9vw;
}

#sideContent {
    background-color: lightcyan;
    min-height: 700px;
}


#youtubeContent {
    background-color: burlywood;
    min-height: 340px;
}

#articleContent {
    background-color: lavender;
    min-height: 340px;
}

.clickHere {
    font-size: 1vw;
    float: right;
}

p {
    margin-left: 1vw;
}

#soccer-ball {
    max-height: 150px;
    width: auto;
}

#footer {
    width: 100%;
}