html, body{
    height: 100%;
    padding: 0px;
    margin: 0px;
}

body {
    background: url(../images/grassbackground3.jpg);
    background-size: cover;
    background-position: center;
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
}

a, li {
    color: black;
}

h6 {
    font-size: 1.9vw;
}

header {
    margin-bottom: 2vw;
}

iFrame{
    width: 100%;
}

.clickHere {
    font-size: 1vw;
    float: right;
}

.slider{
    height: 100%;
}

#brand {
    font-size: 2.8rem;
}

#container1, #container2, #container3 {
    width: 85%;
}

#sideContent {
    background-color: lightcyan;
    height: 100%;
    padding: 5px;
}

#youtubeContent {
    background-color: burlywood;
    height: 100%;
    padding: 0px 5px;
}

#articleContent {
    background-color: lavender;
    height: 100%;
    padding: 0px 5px;
}

#soccer-ball {
    max-height: 150px;
    width: auto;
}